header{
    display: flex;
    background-color: #F47B6E;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 15px;
    box-shadow: 0px 2px 10px -5px rgba(21,6,5,1);
}

header > h1{
    color: white;
    font-size: 2rem;
}

.ri-shopping-cart-line{
    color: white;
}

main.photos {
    padding: 10px;
    display: grid;
    grid-gap: 2px;
    grid-auto-rows: 100px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-flow: dense;
}

img.image-grid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    position: relative;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

.favorite , .cart{
    font-size: 1.2rem;
    position: absolute;
    cursor: pointer;
    top: 5px;
}

.favorite{
    left: 5px;
    color: #EA453C;
}

.cart{
    right: 5px;
    color: #ACE6EC;
}

.ri-heart-fill {
    opacity: .7;
}


.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0 30px;
}
.cart-item img {
    margin-right: auto;
    margin-left: 10px;   
}

main.cart-page {
    padding: 10px;
}

.cart-page > h1 {
    text-align: center;
}

.cart-page .total-cost {
    text-align: right;
    margin-right: 30px;
    font-size: 1.3em;
}

.cart-page div.order-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

div.order-button > button {
    border-color: black;
    cursor: pointer;
    padding: 15px;
    transition: all .2s ease-in-out;
}

div.order-button > button:focus {
    outline: none;
}

div.order-button > button:disabled {
    border-color: lightgray;
}

.empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 80px);
}

.empty-cart > h1{
    text-align: center;
}